body {
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
    margin: 0;
    outline: none;
}

.bold {
    font-weight: bold;
}

.list-container {
    width: 100%;
    margin: 0;
    padding: 0;
}

.list-wrapper {
    display: inline;
}

.graffy_logo {
    text-align: center;
    font-family: 'Fredoka One', cursive;
    color: rgb(255, 255, 255);
    border-radius: 50px;
    background: rgba(40, 190, 25, 0.9);
    margin: 3px;
    padding: 7px;
    font-size: 20px;
}

.graffy_logo-wrapper {
    margin-left: 30%;
    width: 150px;
    padding: 5px;
    background: none;
    border-radius: 20px;
}

.add-btn {
    position: relative;
    transform: translate(0, -5%);
    width: 25px;
    height: 25px;
    float: right;
    border: none;
    border-radius: 50%;
    background: rgb(131, 131, 131);
    display: none;
}

.add-btn:hover {
    width: 25px;
    height: 25px;
    float: right;
    border: none;
    border-radius: 50%;
    background: rgb(185, 185, 185);
    display: none;
    transition: 0.2s;
}

.main-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.useremailtext {
    margin-top: 10px;
    color: white;
    clear: left;
    float: left;
    font-size: 20px;
}

.header-input::placeholder {
    color: rgb(255, 255, 255);
}

::placeholder {
    color: rgb(66, 66, 66);
}

.header-add-btn {
    width: 40px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: inline-block;
    background: rgb(39, 190, 25);
    font-weight: bold;
    font-size: 17px;
    padding: 3px;
    border: none;
    margin: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    outline: none;
    float: right;
}

.header-add-btn:hover {
    width: 40px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: inline-block;
    background: rgb(35, 172, 23);
    font-weight: bold;
    font-size: 17px;
    padding: 3px;
    border: none;
    margin: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    outline: none;
}

.header-import-btn-wrapper {
    margin-left: 15%;
    width: 600px;
}

.import-export-btn {
    background: none;
    display: inline;
    width: 10%;
}

.App {
    text-align: center;
}

.header-input {
    width: 235px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: inline-block;
    background: rgb(40, 190, 25);
    font-weight: bold;
    font-size: 17px;
    padding: 3px;
    border: none;
    margin: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    outline: none;
}

.list-element {
    margin-bottom: 5px;
    margin-right: 10px;
    background: rgb(20, 20, 20);
    border-radius: 15px;
}

.list-element:hover {
    margin-bottom: 5px;
    border-radius: 15px;
    background: rgb(233, 233, 233);
    transition: 0.3s;
}

.list-element:hover .title {
    border: none;
    color: rgb(50, 50, 50);
    font-size: 15px;
    margin-left: 15px;
    padding: 3px;
    background: transparent;
    outline: none;
    width: 40%;
    overflow: hidden;
}

.numdata-form {
    width: 25%;
    margin: 0;
    padding: 0;
    display: inline;
}

.title-form {
    width: 65%;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.list-title-remove-btn {
    font-size: 1rem;
    user-select: none;
    pointer-events: none;
}

.list-element:hover .add-btn {
    background: rgb(185, 185, 185);
    display: block;
}

.list-element:hover .add-btn:hover {
    background: rgb(219, 219, 219);
    transition: 0.3s;
    display: block;
}

.wrapper {
    height: 100%;
}

.header {
    display: flex;
    background: rgb(50, 50, 50);
    padding: 2px;
}

.list {
    flex: 1.5;
    min-height: 720px;
    min-width: 200px;
    background: rgb(50, 50, 50);
    margin: 0;
}

.dropbtn {
    background-color: rgb(52, 219, 80);
    color: rgb(255, 255, 255);
    font-size: 16px;
    border: none;
    cursor: pointer;
    outline: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    outline: none;
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    outline: none;
}

.dropdown-content button {
    color: black;
    width: 100%;
    background: #ddd;
    border: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    outline: none;
    cursor: pointer;
}

.show {
    display: block;
}

.timeline {
    background: #17a2b8;
}

.heatmap-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    padding: 0.1rem;
    margin-bottom: 1rem;
}

.input-wrapper {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    padding: 5px;
    margin: 5px 5px;
}

.sidebar-footer {
    height: 7%;
    background-color: rgba(0, 0, 0, 0.2);
    border: 0;
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
    right: 0px;
    margin-left: 5px;
    border-right: 10px solid #e4e5e6;
}

.chart-title {
    color: #0cacac;
    width: 100%;
    font-weight: bold;
    word-wrap: break-word;
    background: none;
    outline: none;
    user-select: none;
}

.chart-inner-text {
    position: relative;
    top: 0;
    font-size: 0.9rem;
    color: black;
    width: 100%;
    font-weight: bold;
    word-wrap: break-word;
    background: white;
    outline: none;
    text-align: center;
    width: 100%;
    transform: translate(0, -50%);
    border-radius: 5px;
    padding: 5px;
    border: 1px solid black;
}

.chart-number {
    position: relative;
    top: 32%;
    font-size: 2rem;
    color: black;
    width: 100%;
    font-weight: bold;
    word-wrap: break-word;
    outline: none;
    pointer-events: none;
    user-select: none;
    text-align: center;
    width: 100%;
    transform: translate(0, -50%);
    padding: 5px;
}

.scrollbar {
    overflow: auto;
}

::-webkit-scrollbar {
    width: 5px;
    transform: translateX(10px);
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
    transform: translateX(10px);
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
    transform: translateX(10px);
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
    transform: translateX(10px);
}

::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

p {
    margin: 0;
}

.title {
    border: none;
    width: 40%;
    overflow: hidden;
    color: rgb(255, 255, 255);
    font-size: 15px;
    margin-left: 15px;
    padding: 3px;
    background: inherit;
    outline: none;
}

.title-wrapper {
    width: 55%;
    display: inline-block;
}

.numdata {
    color: #17a2b8;
    text-align: right;
    outline: none;
    font-weight: bold;
    font-size: 15px;
    float: right;
    width: 35%;
    padding: 3px;
    margin-right: 30px;
    user-select: none;
    text-align: right;
    background: none;
    border: none;
}

.list-element:hover .numdata {
    color: #17a2b8;
    text-align: right;
    outline: none;
    font-weight: bold;
    font-size: 15px;
    float: right;
    width: 35%;
    padding: 3px;
    margin-right: 9px;
    user-select: none;
    text-align: right;
}

.homeuser {
    color: white;
    float: right;
}

.color-ruler {
    position: absolute;
    bottom: 0;
    left: 0;
    clear: both;
    width: 40%;
    margin-top: 5px;
    padding: 10px;
    user-select: none;
}

.gr-heat-square:hover .chart-remove-btn, .gr-heat-square:hover .arrow-triangle {
    display: block;
}

.chart-remove-btn {
    color: red;
    font-size: 1.3rem;
    left: 91%;
    transform: translate(0, -70%);
    position: relative;
    display: none;
    user-select: none;
    pointer-events: none;
}

.arrow-triangle {
    left: 82.5%;
    top: 14.5%;
    position: relative;
    background-color: #fff;
    text-align: left;
    margin: 0.63em;
    display: none;
}

.arrow-triangle:before, .arrow-triangle:after {
    content: '';
    position: absolute;
    background-color: inherit;
}

.arrow-triangle, .arrow-triangle:before, .arrow-triangle:after {
    width: 1.5em;
    height: 1.5em;
    border-top-right-radius: 30%;
}

.arrow-triangle.bottomright {
    transform: rotate(90deg) skewX(0deg) scale(1, .866);
}

.arrow-triangle:before {
    transform: rotate(-135deg) skewX(-45deg) scale(1.414, .707) translate(0, -50%);
}

.arrow-triangle:after {
    transform: rotate(135deg) skewY(-45deg) scale(.707, 1.414) translate(50%);
}

.title-h2 {
    color: white;
    width: 50%;
    word-wrap: break-word;
    background: none;
    outline: none;
}

.list-g-button-background {
    background: rgb(0, 150, 0);
    border-radius: 10px;
    border: 2px solid rgb(148, 148, 148);
    width: 13%;
    height: 15px;
    float: right;
    margin-top: -20px;
    user-select: none;
}

.list-r-button-background {
    background: rgb(150, 0, 0);
    border-radius: 10px;
    border: 2px solid rgb(148, 148, 148);
    width: 13%;
    height: 15px;
    float: right;
    margin-top: -20px;
    user-select: none;
}

.title-btn {
    width: 5rem;
    margin-left: 2rem;
    font-size: 1rem;
    user-select: none;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}

.list-title-wrapper:hover .add-title-btn {
    color: #d0d9e0;
    font-size: 1rem;
    border: none;
    outline: none;
    padding: 0;
    margin-right: 15px;
}

.list-title-wrapper:hover .add-title-btn:hover {
    color: #ffffff;
    font-size: 1rem;
    border: none;
    outline: none;
    padding: 0;
    margin-right: 15px;
}

.list-title-wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    display: inline-block;
}

.list-title-btns-wrapper {
    margin: 0;
    padding: 0;
    width: 40%;
    float: right;
}

.list-item {
    margin-bottom: -20px;
    padding: 0;
}

.add-title-btn {
    color: #2f353a;
    font-size: 1rem;
    border: none;
    outline: none;
    margin-right: 15px;
    padding: 0;
    float: right;
}

.header-showinglist-text {
    font-weight: bold;
    font-size: 1.4vw;
    margin-left: 2.5rem;
    padding: 0;
}

@media (max-width: 992px) {
    .header-showinglist-text {
        font-weight: bold;
        font-size: 4vw;
        margin-left: 0rem;
        padding: 0;
    }
}

.add-list-btn {
    outline: none;
    color: #20a8d8;
    font-weight: bold;
    text-align: center;
    outline: none;
    padding: 0.75rem 1rem;
    background: rgba(0, 0, 0, 0.2);
}

.list-btn {
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.chart-list {
    background: none;
    outline: none;
    font-weight: bold;
}

.list-toggle-button {
    width: 15px;
    height: 25px;
    background: rgb(180, 180, 180);
    border-radius: 5px;
    border: 2px solid rgb(148, 148, 148);
    user-select: none;
    margin-top: -6px;
}

h1 {
    margin: 3px;
    padding: 0;
    text-align: center;
}

h3 {
    padding: 0;
    margin: 5px;
}

label {
    font-weight: bold;
    margin-right: 10px;
    padding: 0;
}

.add-list-form {
    padding: 1rem;
    margin: 0;
    background: #fff;
    border-radius: 0.25rem;
    border: 1px solid #c8ced3;
    width: 30%;
    position: absolute;
    left: 50%;
    top: 1%;
    transform: translate(-50%, 0%);
}

.add-list-modal {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 12px 40px 0 rgba(0, 0, 0, 0.25);
    border-radius: 0px;
}

.add-list-modal-title {
    font-weight: bold;
    color: #20a8d8;
}

.gr-heat-square {
    flex: 1;
    height: 5rem;
    width: 6rem;
    border: 1px solid #444;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    float: left;
    cursor: pointer;
}

@media (max-width: 992px) {
    .gr-heat-square {
        flex: 1;
        height: 4rem;
        width: 5rem;
        border: 1px solid #444;
        padding: 5px;
        margin: 3px;
        border-radius: 5px;
        float: left;
        cursor: pointer;
    }
}

/*login sipnner - animations*/

/*login sipnner - animations*/

/*login sipnner - animations*/

/*login sipnner - animations*/

/*login sipnner - animations*/

/*login sipnner - animations*/

/*login sipnner - animations*/

/*login sipnner - animations*/

/*login sipnner - animations*/

/*login sipnner - animations*/

.sk-cube-grid {
    width: 160px;
    height: 160px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sk-cube-grid .sk-cube {
    width: 25%;
    height: 25%;
    background-color: #20a8d8;
    border-radius: 0px;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube10 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube11 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube12 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube13 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.sk-cube-grid .sk-cube14 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube15 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube16 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
        border-radius: 0px;
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
        border-radius: 50px;
    }
}

@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
        border-radius: 0px;
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
        border-radius: 50px;
    }
}