.timeline-wrapper
{
    margin: 0;
    padding: 0;
   
}
.timeline-month
{
    color: black;
    font-weight: bold;
    font-size:  2.2vw;
    text-align: center;
    clear: both;
    margin-bottom: 10px;
    padding: 0.5rem;
}

.timeline-month-days
{
    clear: both;
    display: block;
}
.timeline-dayboxes
{
    

    background-color:#fff;
    font-weight: bold;
    font-size:  1.4vw;
    width: 3.2%;
    height:30px;
    border: none;
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 0.1rem;
    outline:none;
   
}

.timeline-dayboxes-selected
{
    background-color: #fff;
    font-size:  1.4vw;
    border:2px solid #031b24;
    font-weight: bold;
    width: 3.2%;
    height:30px;
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 0.1rem;
    outline:none;
    border-radius: 5px;
   
}


.timeline-dayboxes-today
{
    background-color: #48afd4;
    font-size:  1.4vw;
    border:2px solid #031b24;
    font-weight: bold;
    width: 3.2%;
    height:30px;
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 0.1rem;
    outline:none;
    border-radius: 5px;
   
}


.timeline-dayboxes-today-selected
{
    background-color: #48afd4;
    font-size:  1.4vw;
    border:2px solid #48afd4;
    font-weight: bold;
    width: 3.2%;
    height:30px;
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 0.1rem;
    outline:none;
    border-radius: 5px;
   
}



.timeline-dayboxes:hover,.timeline-dayboxes-selected:hover
{
    background-color:rgb(231, 231, 231);
    border-radius: 5px;
}


.timeline-right-arrow
{
    font-size: 2rem;
    float: right;
    border:none;
    background: none;
}
.timeline-left-arrow
{

    font-size: 2rem;
    float:left;
    border:none;
    background: none;

}

.timeline-left-arrow:hover,.timeline-right-arrow:hover
{
    background-color:rgb(231, 231, 231);
    border-radius: 10px;
}
